body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 120px 50px auto 50px;
    grid-gap: 0 20px;
    margin: 0;
    padding: 0;
    height: 100vh;
    border: solid 4px #CC9492;
}

header,
nav,
aside,
main,
.cart,
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    background-color: #A7C0DE;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

nav {
    background-color: #FF8080;
    grid-row: 1 / span 1;
    grid-column: 2 / span 4;
}

.cart {
    background-color: #80D7A7;
    grid-row: 1 / span 1;
    grid-column: 6 / span 1;
}

.displayOption {
    grid-column: 1 / span 6;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFB2FF;
}

main {
    background-color: #ECECEC;
    grid-column: 1 / span 4;
}

.sidebar {
    background-color: #FFFF80;
    grid-column: 6 / span 1;
}

footer {
    background-color: #FF8080;
    grid-column: span 6;
    display: flex;
    align-items: center;
    justify-content: center;
}